<center>
<h1>You searched for <%= params[:q] %></h1>
<form action="/searches/0" method="get">
	<label>Search for something else</label>
	<br>
	<input id="input" type="text" name="q" />  <!-- 'q' goes into the params hash -->
	<input class="submitbutton" type="submit" name="submit" value="Search Twitter         Woo Hoo" />
</form>
<br>


<table class="sandwiches">

	<tr class="headers">
		<td>&nbsp;</td>
		<td><strong>Screen Name</strong></td>
		<td><strong>"Real Name"</strong></td>
		<td><strong>Tweeted...</strong></td>
		<td><strong>Status</strong></td>
	</tr>
	
	<% i = 0 %>
	<% @results.each do |r| %>
	<tr class="tweets">

		<script>
			$("td.status").click(function(){
   			window.location = "http://www.twitter.com/id/status/<%= r.page_id %>";
 			});
 		</script>

 		<script>
 			$("td.user").click(function(){
   			window.location = "http://www.twitter.com/<%= r.screen_name %>";
 			});
 		</script>

		<td class="user"><img src="<%= r.img_url %>"></td>

		<td class="user"><strong><%= r.screen_name %></strong></td>

		<td class="user"><%= r.real_name %></td>

		<td class="time"><%= r.time_ago %></td>
		<td class="status"><%= r.status %></td>
	</tr>
<% i += 1 %>
<% end %>
</table>



